.idea
*.iml
*.iws
*.ipr
*.ids

target
deploy

target/
build/
*.class
${prj.deploy.dir}/

*.pydevproject
.project
.recommenders/**
.recommenders
.recommenders/**/*
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath